<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body class="mg_bot">
	
<div class="title">
	<div class="close">
		<a href="javascript:;" onClick="javascript:history.back(-1);">
			<img src="/views/images/close.png" />
		</a>
	</div>
	<h3>
		我的余额
	</h3>
</div>

<div class="content">
	<div class="inbox">
		<div class="yue">
			<p class="rmb">
				1.00
			</p>
			<p class="zhye">账户余额（元)</p>
			
			<div class="do_more">
				<a href="/views/fast-add.html" class="more_cd">
					立即充值
				</a>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<ul>
		<li>
			<a href="/views/add-power.html">
				<img src="/views/images/f1.png">
				<span>充电</span>
			</a>
		</li>
		<li>
			<a href="/views/fast-add.html">
				<img src="/views/images/f2.png">
				<span>快速充值</span>
			</a>
		</li>
		<li>
			<a href="/views/power-record.html">
				<img src="/views/images/f3.png">
				<span>充电记录</span>
			</a>
		</li>
		<li>
			<a href="/views/index.html">
				<img src="/views/images/f_4.png">
				<span class="current">我的</span>
			</a>
		</li>
	</ul>
</div>

</body>

</html>