<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body class="mg_bot">
<div class="title">
	<div class="close">
		<a href="javascript:;" onClick="javascript:history.back(-1);">
			<img src="/views/images/close.png" />
		</a>
	</div>
	<h3>
		故障报修
	</h3>
</div>

<div class="content">
	<div class="inbox">
		<div class="sbh">
			<div class="sh_tit">
				设备号
			</div>
			<div class="sys">
				<input type="text">
				<a href="#">
					<img src="/views/images/sys.png">
				</a>
			</div>
		</div>
		<div class="gzyy">
			<textarea name="" id="" cols="30" rows="10" placeholder="请填写故障原因"></textarea>
		</div>
		<div class="txsj">
			<input type="text" placeholder="请填写您的手机号">
		</div>
		<div class="jlyh">
			<div class="jl_tit">
				奖励优惠
			</div>
			<p>
				1.及时参加活动，可获取积分
			</p>
			<p>
				2.累计积分可以兑换红包，限时使用
			</p>
			<p>
				3.本活动最终解释权为长城金点所有
			</p>
		</div>
		<div class="tj gz_tj">
			<input type="submit" value="提交">
		</div>
	</div>
</div>

<div class="footer">
	<ul>
		<li>
			<a href="/views/add-power.html">
				<img src="/views/images/f1.png">
				<span>充电</span>
			</a>
		</li>
		<li>
			<a href="/views/fast-add.html">
				<img src="/views/images/f2.png">
				<span>快速充值</span>
			</a>
		</li>
		<li>
			<a href="/views/power-record.html">
				<img src="/views/images/f3.png">
				<span>充电记录</span>
			</a>
		</li>
		<li>
			<a href="/views/index.html">
				<img src="/views/images/f_4.png">
				<span class="current">我的</span>
			</a>
		</li>
	</ul>
</div>


</body>


</html>