<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body class="mg_bot bg_color">
<div class="title">
	<div class="close">
		<a href="javascript:;" onClick="javascript:history.back(-1);">
			<img src="/views/images/close.png" />
		</a>
	</div>
	<h3>
		快速充值
	</h3>
</div>

<div class="content">
	<div class="zhxx">
		<div class="inbox">
			<a href="/views/index.html" class="to_per">
				<div class="txbox">
					<img src="/views/images/tx.png">
				</div>
				<div class="num">
					15810074349
				</div>
				<div class="more">
					<img src="/views/images/more.png">
				</div>
			</a>
		</div>
	</div>
	<div class="czje">
		<div class="inbox">
			<h4 class="h4tit">
				充值金额
			</h4>
			<ul>
				<li class="current">
					<a href="javascript:;"><span>2</span>元</a>
				</li>
				<li>
					<a href="javascript:;"><span>5</span>元</a>
				</li>
				<li>
					<a href="javascript:;"><span>10</span>元</a>
				</li>
				<li>
					<a href="javascript:;"><span>20</span>元</a>
				</li>
				<li>
					<a href="javascript:;"><span>50</span>元</a>
				</li>
				<li>
					<a href="javascript:;"><span>100</span>元</a>
				</li>	
			</ul>
			<input type="text" placeholder="其他金额" class="other">
		</div>
	</div>
	<div class="zf">
		<div class="inbox">
			<label for="awesome">
				<span class="img">
					<img src="/views/images/wx.png"/>
				</span>
				<span class="tex">微信支付</span>
				<span class="check">
					<input type="checkbox" id="awesome" checked="">
					<span class="current"></span>
				</span>
			</label>
		</div>
	</div>
	
</div>
<div class="tj cz_fast">
	<input type="button" value="充值">
</div>
<div class="footer">
	<ul>
		<li>
			<a href="/views/add-power.html">
				<img src="/views/images/f1.png">
				<span>充电</span>
			</a>
		</li>
		<li>
			<a href="/views/fast-add.html">
				<img src="/views/images/f_2.png">
				<span class="current">快速充值</span>
			</a>
		</li>
		<li>
			<a href="/views/power-record.html">
				<img src="/views/images/f3.png">
				<span>充电记录</span>
			</a>
		</li>
		<li>
			<a href="/views/index.html">
				<img src="/views/images/f4.png">
				<span>我的</span>
			</a>
		</li>
	</ul>
</div>

</body>

<script type="text/javascript">
	$('.czje ul li').on('click',function(){
		$('.czje ul li').removeClass('current');
		$(this).addClass('current');
	})
</script>

</html>