<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="/views/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/views/js/jquery.min.js"></script>
<script type="text/javascript" src="/views/js/common.js"></script>

</head>

<body class="mg_bot bg_color">
<div class="title">
	<div class="close">
		<a href="javascript:;" onClick="javascript:history.back(-1);">
			<img src="/views/images/close.png" />
		</a>
	</div>
	<h3>
		个人中心
	</h3>
</div>
<div class="dl_zc">
	<div class="inbox">
		<div class="tx_box">
			<div class="imgbox">
				<img src="/views/images/tx.png">
			</div>
			<div class="tex">
				<a href="#">测试1</a>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="inbox">
		<div class="per_list"> 
			<ul>
				<li>
					<a href="/views/balance.html">
						<div class="i_con">
							<img src="/views/images/ico1.png">
						</div>
						<div class="tex">我的余额</div>
						<div class="more">
							<img src="/views/images/more.png" />
						</div>
					</a>
				</li>
				<li>
					<a href="/views/money-record.html">
						<div class="i_con">
							<img src="/views/images/ico2.png">
						</div>
						<div class="tex">充值记录</div>
						<div class="more">
							<img src="/views/images/more.png" />
						</div>
					</a>
				</li>
				<li>
					<a href="/views/power-record.html">
						<div class="i_con">
							<img src="/views/images/ico3.png">
						</div>
						<div class="tex">充电记录</div>
						<div class="more">
							<img src="/views/images/more.png" />
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="i_con">
							<img src="/views/images/ico4.png">
						</div>
						<div class="tex">优惠券</div>
						<div class="more">
							<img src="/views/images/more.png" />
						</div>
					</a>
				</li>
				<li>
					<a href="/views/nearby-power.html">
						<div class="i_con">
							<img src="/views/images/ico5.png">
						</div>
						<div class="tex">附近电站</div>
						<div class="more">
							<img src="/views/images/more.png" />
						</div>
					</a>
				</li>

			</ul>
		</div>

	</div>
	<div class="sz">
		<div class="inbox">
			<h4 class="h4tit">
				设置
			</h4>
			<div class="img_show">
				<div class="sz1">
					<a href="failure-reporting.html">
						<img src="/views/images/im1.jpg">
						<span>故障报修</span>
					</a>
				</div>
				<div class="sz2">
					<a href="/views/install.html">
						<img src="/views/images/im2.jpg">
						<span>申报安装</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="jmhz">
		<div class="inbox">
			<div class="imgbox">
				<img src="/views/images/tel.png">
			</div>
			<span>加盟合作：010-4859595</span>
		</div>
	</div>
</div>

<div class="footer">
	<ul>
		<li>
			<a href="/views/add-power.html">
				<img src="/views/images/f1.png">
				<span>充电</span>
			</a>
		</li>
		<li>
			<a href="/views/fast-add.html">
				<img src="/views/images/f2.png">
				<span>快速充值</span>
			</a>
		</li>
		<li>
			<a href="/views/power-record.html">
				<img src="/views/images/f3.png">
				<span>充电记录</span>
			</a>
		</li>
		<li>
			<a href="/views/index.html">
				<img src="/views/images/f_4.png">
				<span class="current">我的</span>
			</a>
		</li>
	</ul>
</div>
<div class="ll_box"></div>
</body>

<script type="text/javascript" src="/views/js/template-web.js"></script>

</html>